<p id="notice"><%= notice %></p>

<p>
  <b>Entry:</b>
  <%= @composition_date.entry %>
</p>


<%= link_to 'Edit', edit_composition_date_path(@composition_date) %> |
<%= link_to 'Back', composition_dates_path %>
