<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @instrument_type.name %>
</p>


<%= link_to 'Edit', edit_instrument_type_path(@instrument_type) %> |
<%= link_to 'Back', instrument_types_path %>
